---
import ProjectsCard from '../ui/ProjectsCard.astro';
import Card from '../ui/Card.astro';

// Ejemplos demo
const projects = [
  {
    title: "Courses WebApp",
    description: "Plataforma e-Learning con sistema de autenticación y control de acceso. Incluye gestión de estado global, almacenamiento de videos, consumo de sesiones y administración completa (CRUD) de cursos.",
    demoUrl: "https://weather-demo.com",
    codeUrl: "https://github.com/noname/weather",
    tech: ["Next.js", "Tailwindcss","React","Supabase","shadcn/ui","Zustand","Typescript"]
  },
  {
    title: "RealTime colors",
    description: "Aplicación web para crear y visualizar paletas de colores en tiempo real. Diseñada para ser rápida, fluida y totalmente interactiva. El estado global permite actualizar y previsualizar los colores al instante en toda la página, ofreciendo una experiencia visual precisa y dinámica.",
    demoUrl: "https://todo-demo.com",
    codeUrl: "https://github.com/noname/todo",
    tech: ["Astro", "React","Tailwindcss","Typescript"]

  },
  {
    title: "Portfolio 2025",
    description: "Dashboard para la gestión y seguimiento de criptomonedas que consume datos en tiempo real de APIs externas, utilizando una gestión de estado optimizada para un rendimiento súper rápido y una interfaz de usuario limpia y profesional.",
    demoUrl: "https://portfolio-demo.com",
    codeUrl: "https://github.com/noname/portfolio",
    tech: ["Next.js", "React","Tailwindcss","Typescript","TanStack Query","Axios"]
  }
];
---

<Card width="100%" height="auto">
  <div class="projects-grid">
    {projects.map(p => (
      <ProjectsCard 
        title={p.title}
        description={p.description}
        demoUrl={p.demoUrl}
        codeUrl={p.codeUrl}
            tech={p.tech}        // ← ESTA LÍNEA

      />
    ))}
  </div>
</Card>

<style>
.projects-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.3rem;
  padding-inline: 1.2rem;
  padding-block: 1.3rem;
}


@media (max-width: 800px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
</style>
