---
import ProjectsCard from '../ui/ProjectsCard.astro';
import Card from '../ui/Card.astro';

// Ejemplos demo
const projects = [
  {
    title: "Courses WebApp",
    description: "Plataforma de cursos online desarollada con Next,React,Tailwind y Supabase, con login seguro, control de acceso, sesiones en video, y administración de cursos.",
    image: "/light-bg.jpg",
    demoUrl: "https://weather-demo.com",
    codeUrl: "https://github.com/noname/weather"
  },
  {
    title: "RealTime colors",
    description: "Plataforma de cursos online desarollada con Next,React,Tailwind y Supabase, con login seguro, control de acceso, sesiones en video, y administración de cursos.",
    image: "/light-bg.jpg",
    demoUrl: "https://todo-demo.com",
    codeUrl: "https://github.com/noname/todo"
  },
  {
    title: "Portfolio 2025",
    description: "Plataforma de cursos online desarollada con Next,React,Tailwind y Supabase, con login seguro, control de acceso, sesiones en video, y administración de cursos.",
    image: "/light-bg.jpg",
    demoUrl: "https://portfolio-demo.com",
    codeUrl: "https://github.com/noname/portfolio"
  }
];
---

<Card width="100%" height="auto">
  <div class="projects-grid">
    {projects.map(p => (
      <ProjectsCard 
        image={p.image}
        title={p.title}
        description={p.description}
        demoUrl={p.demoUrl}
        codeUrl={p.codeUrl}
      />
    ))}
  </div>
</Card>

<style>
.projects-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
}


@media (max-width: 800px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
</style>
