---
import '../../styles/glassRetro.css';

const { title, width = 80, height = 80, borderRadius = 24 } = Astro.props;
---

<div class="tech-wrapper">
  <div
    class="glass-base glass-image-container"
    style={`width: ${width}px; height: ${height}px; border-radius: ${borderRadius}px;`}
  >
    <slot />
  </div>

  <p class="tech-title">{title}</p>
</div>

<style>
  .tech-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tech-title {
    font-size: .9rem;
    color: var(--color-primary);
    text-align: center;
    font-weight: 600;
  }

  .glass-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .glass-image-container :global(svg),
  .glass-image-container :global(img) {
    object-fit: contain;
  }
</style>







<!-- ---
import '../../styles/glassRetro.css';
const { width = 80, height = 80, borderRadius = 24 } = Astro.props;
---

<div class="glass-base glass-image-container" style={`width: ${width}px; height: ${height}px; border-radius: ${borderRadius}px;`}>
  <slot />
</div>

<style>
  .glass-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .glass-image-container :global(svg),
  .glass-image-container :global(img) {
    object-fit: contain;
  }
</style> -->