---
import '../../styles/glassRetro.css';
import ButtonLink from '../ui/ButtonLink.astro';

const {
  title = "Proyecto sin título",
  description = "Descripción no disponible.",
  image = "",
  projectUrl = "#",
  codeUrl = "#",
} = Astro.props;

---
<div
  class="glass-base project-card"
>
  <div class="img-container">
    <img src={image} alt={title} loading="lazy" />
    <div class="actions">
      <ButtonLink width={120} height={30} href={projectUrl} variant="primary">Ver Proyecto</ButtonLink>

      <ButtonLink width={120} height={30} href={codeUrl} variant="secondary">Ver Código</ButtonLink>
    </div>
</div>

  <div class="info">
    <h3>{title}</h3>
    <p>{description}</p>
  </div>
</div>

<style>
.project-card {
    display: flex;
    flex-direction: column;
    border-radius: 28px;
}

 .img-container {
  width: 100%;
  height: 95px;      
  position: relative;
  border-top-left-radius: 28px;
  overflow: hidden;
  border-top-right-radius: 28px;
}

.img-container img {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  .actions {
    position: absolute;
    bottom: 6px;
    left: 12px;
    display: flex;
    width: 100%;
    gap: 1rem;
  }
  
.info h3{
    margin-top: .5rem;
    margin-bottom: 0;
}
.info p{
    margin-top:0 ;
}
</style>