---
import '../../styles/glassRetro.css';
import Badge from './Badge.astro';
import ButtonPill from './ButtonPill.astro'

const {
  title = "Proyecto sin título",
  description = "Descripción no disponible.",
  projectUrl = "#",
  codeUrl = "#",
  tech = [],
} = Astro.props;
---

<div class="glass-base project-card">
  <div class="info">
    <h3>{title}</h3>
    <p>{description}</p>

    <div class="tech-list">
      {tech.map(t => (
        <Badge text={t} />
      ))}
    </div>
  </div>

  <div class="actions">
    <ButtonPill projectUrl={projectUrl} codeUrl={codeUrl} infoUrl="/info" />
  </div>
</div>

<style>
.project-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 28px;
    padding: .5rem 1rem;
    background: linear-gradient(
     180deg,
    rgba(45, 51, 48, 0.230) 20%,
    rgba(22, 22, 22, 0.230) 60%,
    rgba(0, 0, 0, 0.230) 10%,
    rgba(26, 28, 28, 0.230) 30% 
  );
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.207), 
              inset 0px 4px 4px rgba(121, 255, 253, 0.178),
              inset 0px -1px 1px rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.186);
}

.info {
  display: flex;
  flex-direction: column;
}
  
.info h3{
    font-size: 1.3rem;
    color: var(--color-primary);
  margin-top: .4rem;
  margin-bottom: .4rem;
  }

.info p{
  font-size: .920rem;
  margin: 0;
  line-height: 1.5;
}

.tech-list {
  display: flex;
  gap: .3rem;
  flex-wrap: wrap;
  margin-top: 0.7rem;
}

.actions{
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>